<link rel="stylesheet" href="$$uri_module$$/html/main.css">

<div class="console_continer">
    <div class="panel">
        <div>Console</div>
        <table>
        $$body$$
        </table>
    </div>
    <a href="#" class="tab">Раскрыть</a>
</div>
<script src="$$uri_module$$/console.js"></script>