.console_continer{
    background-color: #2a6496;
    display: block;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}
.console_continer div {
    padding: 10px; /* Поля вокруг текста */
    background-color: #2a6496;
}
.tab {
    display:inline-block;
    width:100px;
    padding:5px 10px;
    font:normal 12px Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    background:#999;
}
.error {
    background:red;
}
.info {

}
.log {

}
.warn {
    background: #f5ef00;
}