body {
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: rgb(230, 233, 235);
    margin-left: 10%;
    word-spacing: 3px;
    margin: 0;
    
}

@font-face {
    font-family: "MuseoSansCyrl-500"; /* Гарнитура шрифта */
    src: url(../font/font.ttf); /* Путь к файлу со шрифтом */
}
.popup_overlay{
    display: none;
    background: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.popup{
    display: none;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    width: 600px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    margin-left: -300px;
    margin-top: -250px;
}
.popup_title{
    font-weight: bold;
    padding: 10px;
}
.popup_content{
    padding: 10px;
    border-top: 1px solid #ccc;
}
.closer{
    float: right;
    cursor: pointer;
}
.pop_up_target{
    box-shadow:
            -20px 20px 0 -17px #fff,
            20px -20px 0 -17px #fff,
            20px 20px 0 -20px #c27153,
            0 0 0 2px #c27153;
    display: block;
    z-index: 999;
    background-color: rgb(230, 233, 235);
    position: absolute;
}
.viewer{
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 63.5%;
}
.pager{

}
.pager a{
    margin: 4px;
}
.head{
    width: 100%;
    height: auto;

    clear: both;
    color: #f3f7ff;
}
.foot{
    width: 100%;
    min-height: 20%;
/*    background-color: #1e2d3c;*/
    box-shadow: 0px 3px 6px 0px rgba(188, 192, 200, 0.22);
    background-image: url("../image/theme/footer-bg.png");
    display: block;
    margin-top: 2%;
    padding: 45px 0;
    position: relative;
    line-height: 1;
    clear: both;
    color: #F3F7FF;

}

.content_head{
    margin-left: 12%;
    margin-right: 12%;
    color: #314b6c;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 22px;
}
.catalog_viewer{
    margin-left: 10%;
    margin-right: 10%;
    border-left: 2px solid rgba(145, 145, 145, 0.12);
    border-right: 2px solid rgba(145, 145, 145, 0.12);
}

.content {
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 5%;
   // min-height: 100px;
    width: 80%;
    display: inline-block;
    height: auto;
    color: #314b6c;
    overflow: hidden;
    font-family: 'MuseoSansCyrl-500', monospace;
    font-size: 16px;
}
.postes{
    margin-left: 10%;
    margin-right: 10%;
    border-left: 2px solid rgba(145, 145, 145, 0.12);
    border-right: 2px solid rgba(145, 145, 145, 0.12);

}
.postes .post:nth-child(2n+1){
    border-bottom: 2px solid rgba(145, 145, 145, 0.12);
    background-color: rgb(243, 243, 243);
}
.postes .post:nth-child(2n){
    background-color: rgb(243, 243, 243);
}


.ulMenu{
    margin-top: -50px;
    background-color: rgba(30, 45, 60, 0.62);
}
.liMenu{
    list-style: none;
    display: inline-block;
    margin: 1%;
}
.liMenu a {
    color: inherit;
    text-decoration: none;
}
.liMenu a:hover {

    border-bottom: 2px solid #0083CA;
}
.ulf{
    display: inline-block;
    margin-left: 5%;
}
.ulf li {
    list-style: none;
    margin-top: 10%;
    color: rgb(221, 221, 221);
    font-family: Roboto;
}
.ulf li:first-child{
    background: url(https://s3-us-west-2.amazonaws.com/shepwebimg/shephertz/footer-li-bg.png?shep25072016) left bottom no-repeat;
    white-space: pre;
    padding-bottom: 5px;
    margin-bottom: 8px;
    color: white;
}

.ulf li a{
    color: inherit;
    text-decoration: none;
}
.ulf li a:hover{
    color: inherit;
    text-decoration: underline;
}
.slider{
    overflow: hidden;
    width: 600px;
    height: 300px;
}
.slider div{
    display: inline-block;
}
.right{
    float: right;
    position: relative;
    background-color: #2e9ad0;
    width: 35%;
    height: 100%;
}
.center{
    position: relative;
    float: left;
    background-color: #9951d0;
    width: 65%;
    height: 100%;
}

.block1{
    background-color: #a8b7d0;
    width: 100%;
    height: 300px;
}
.block2{
    background-color: #9bccd0;
    width: 100%;
    height: 450px;
}
.block3{
    background-color: #769ad0;
    width: 100%;
    height: 200px;
}