$$module name=console$$
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">О КОМПАНИИ</h6>
                    <p>"Адель" - новейший гостевой дом, расположенный в живописном уголке курортной зоны г.Сочи. "Адель" находится в центре микрорайона Кудепста в 10 минутах ходьбы от берега моря.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">Navigation Links</h6>
                    <div class="row">
                        <div class="col-4">
                        $$module name=menu key=main2$$
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget instafeed">
                    <h6 class="footer_title">InstaFeed</h6>
                    <!-- InstaWidget -->
                    <a href="https://instawidget.net/v/user/adelesochi" id="link-31f1012e32da57497829d02a6a8ac6ee4adf56eb241eec47eb8fa08a787c594b">@adelesochi</a>
                    <script src="https://instawidget.net/js/instawidget.js?u=31f1012e32da57497829d02a6a8ac6ee4adf56eb241eec47eb8fa08a787c594b&width=300px"></script>
                </div>
            </div>
        </div>
        <div class="border_line"></div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищена | Этот сайт <i class="fa fa-heart-o" aria-hidden="true"></i> разработан <a href="https://colorlib.com" target="_blank">AVIS Software</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

        </div>
    </div>
</footer>