<link rel="stylesheet" href="$$URI_APP$$/html/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="$$URI_APP$$/html/bootstrap/css/bootstrap-theme.css">
<link href="$$URI_APP$$/html/css/main.css" rel="stylesheet" type="text/css">
<script src="$$URI_APP$$/jsengine/jquery-3.3.1.js"></script>
<script src="$$URI_APP$$/html/bootstrap/js/bootstrap.js"></script>
<script src="$$URI_APP$$/jsengine/jsengine.js"></script>
<script src="$$URI_APP$$/jsengine/data_module.js"></script>
<script src="$$URI_APP$$/jsengine/windows_module.js"></script>

<head>
    $$module name=login$$
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="$$URI_APP$$/uploads/favicon.png" type="$$URI_APP$$/uploads/png">
    <title>Royal Hotel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="$$URI_APP$$/html/css/bootstrap.css">
    <link rel="stylesheet" href="$$URI_APP$$/html/vendors/linericon/style.css">
    <link rel="stylesheet" href="$$URI_APP$$/html/css/font-awesome.min.css">
    <link rel="stylesheet" href="$$URI_APP$$/html/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="$$URI_APP$$/html/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="$$URI_APP$$/html/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="$$URI_APP$$/html/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="$$URI_APP$$/html/css/style.css">
    <link rel="stylesheet" href="$$URI_APP$$/html/css/responsive.css">
</head>
<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- Brand and toggle get grouped for better mobile display -->
            <h2>Гостевой дом Адель</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            $$module name=menu key=main$$
        </nav>
    </div>
</header>
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
</section>