
<body>
$$module name=reservation$$
<div id="table"></div>
<div id="cancel_div" hidden>
    <div class="ask">
        Вы уверены что хотите отменить заявку?
        <br>
        <button type="submit" name="cancel_submit" value={id} onclick="cancel_send()">Да</button><button id="close_cancel" onclick="close_window()">Нет</button>
    </div>
</div>

<div id="accept_div" hidden>
    <div class="ask">
        Вы уверены что хотите принять заявку?
        <br>
        <button type="submit" name="accept_submit" value={id} onclick="accept_send()">Да</button><button id="close_accept" onclick="close_window()">Нет</button>
    </div>
</div>
<script>
/*
    var content_cancel = $('#cancel_div').html();
    //$('#cancel_div').html('');
    cancel_{id}.onclick = function() { show_pop_up_window(500,600,'Отклонить заявку',content_cancel);}
    var content_accept = $('#accept_div').html();
    // $('#accept_div').html('');
    accept_{id}.onclick = function() { show_pop_up_window(500,600,'Принять заявку',content_accept);}
    function close_window(){
        $('.popup,.popup_overlay').fadeOut(400);}
    function accept_send()
    {
        $.post("$$URI_APP$$/handler/reservation/get_table", {Accepted_invite: true, id_accept: '$$id$$'})
            .done(function (data) {
                alert("Data Loaded: " + data);
                close_window();
            });

    }
    function cancel_send() {
        $.post("$$URI_APP$$/handler/reservation/get_table", {Canceled_invite: true, id_cancel: '$$id$$'})
            .done(function (data) {
                alert("Data Loaded: " + data);
            });
        close_window();
    }
    */
    $.ajax({
        type: 'POST',
        url: '$$URI_APP$$/handler/reservation/get_table',

        success: function (data) {
            var arr_result = jQuery.parseJSON(data);
            console.log(arr_result);

            $("#table").html(build_table(arr_result));

        }
    });
</script>
</body>
