<link href="$$uri_module$$/css/main.css" rel="stylesheet" type="text/css">
<script src="$$URI_APP$$/jsengine/calendar_ru.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-6 d_flex align-items-center">
        <div class="about_content ">
            <h2 class="title title_color">$$name$$</h2>
            <p>$$body$$</p>
            $$res$$
            <a href="$$handler$$"  class="button_hover theme_btn_two">В каталог</a>
        </div>
    </div>
    <div class="col-md-6">
        $$slider$$
        <!-- <img class="img-fluid" src="$$URI_APP$$/uploads/$$img$$" alt="img"> -->
     </div>
 </div>

 <div id="job_form_data" style="display: none;">
         <p><b>Укажите даты, на которые вы желаете забронировать номер</b></p>
     <br>

     <p>
     <input id="date1" type="text" value="День-Месяц-Год"  onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)">
     <br>
     <input id="date2" type="text" value="День-Месяц-Год" onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)">
     </p>
     <p>Сообщение</p><input id="tel">
     <p><button class="send_job" onclick="sendjob()">Отправить</button></p>
 </div>
 <div id="form_data_true" style="display: none;">
     <p><b>Заявка отправлена</b></p>
 </div>
 <div id="form_data_false" style="display: none;">
     <p><b>На данную дату уже присутствует бронь.</b></p>
 </div>
 <div id="form_data_error" style="display: none;">
     <p><b>Пожалуйста выберите дату</b></p>
 </div>

 <script>

     var content = $("#job_form_data").html();
     $("#job_form_data").html("");
     var window;
     $("#job_form").click(function () {
         window =  show_pop_up_window(30,60,'Забронировать номер',content);
     });


    function sendjob () {
        window.closef();
        form_data = new FormData();
        form_data.append('id', "$$id$$");
        form_data.append('tel', $("#tel").val());
        if ($("#date1").val() == "День-Месяц-Год" || $("#date2").val() == "День-Месяц-Год") {
            var content = $("#form_data_error").html();

            window = show_pop_up_window(30, 35, 'Ошибка', content);
            return;
        }
        form_data.append('date_start', $("#date1").val());
        form_data.append('date_end', $("#date2").val());
        $.ajax({
            type: 'POST',
            url: '$$URI_APP$$/handler/catalog_page/handler_res',
            contentType: false,
            processData: false,
            data: form_data,
            success: function (data) {
                //  var obj = JSON.parse(data);
                if (data == "\"true\"") {
                    var content = $("#form_data_true").html();
                    window = show_pop_up_window(30, 35, 'Заявка отправлена', content);
                }
                else {
                    var content = $("#form_data_false").html();
                    window = show_pop_up_window(30, 35, 'Ощибка', content);
                }

            }
        });

    };
 </script>
