﻿<a id="accept_$$id$$">Принять $$URI_APP$$</a>|<a id="cancel_$$id$$" >Отклонить</a>
<div id="cancel_div" hidden>
    <div class="ask">
        Вы уверены что хотите отменить заявку?
        <br>
        <button type="submit" name="cancel_submit" value=$$id$$ onclick="cancel_send()">Да</button><button id="close_cancel" onclick="close_window()">Нет</button>
    </div>
</div>

<div id="accept_div" hidden>
    <div class="ask">
        Вы уверены что хотите принять заявку?
        <br>
        <button type="submit" name="accept_submit" value=$$id$$ onclick="accept_send()">Да</button><button id="close_accept" onclick="close_window()">Нет</button>
    </div>
</div>
<script>

    var content_cancel = $('#cancel_div').html();
    //$('#cancel_div').html('');
    cancel_$$id$$.onclick = function() { show_pop_up_window(30,35,'Отклонить заявку',content_cancel);}
    var content_accept = $('#accept_div').html();
    // $('#accept_div').html('');
    accept_$$id$$.onclick = function() { show_pop_up_window(30,35,'Принять заявку',content_accept);}
    function close_window(){
        $('.popup,.popup_overlay').fadeOut(400);}
    function accept_send()
    {
        $.post("$$URI_APP$$/handler/reservation/handler_h", {Accepted_invite: true, id_accept: '{id}',id_catalog:'{catalog_id}'})
            .done(function (data) {
                show_pop_up_window(30,35,'Результат',data);

            });

    }
    function cancel_send() {
        $.post("$$URI_APP$$/handler/reservation/handler_h", {Canceled_invite: true, id_cancel: '{id}', id_catalog: '{catalog_id}'})
            .done(function (data) {
                show_pop_up_window(30,35,'Результат',data);

            });

    }
</script>