<div id="boxes">
<div id="login_dialog" class="window">
    <div class="top"> Авторизация<a href="#" class="_close"/>Закрыть</a></div>
    <div class="content_window">
        <form action="$$uri_handler$$/auth" method="post">
            <p>Введите логин и пароль</p>
            <input type="text" placeholder="login" name="login">
            <br>
            <input type="password" placeholder="password" name="password">
            <br>
            <input type="submit" value="Войти" name="send">
            <br>
            <a href="#">Забыли пароль?</a>
        </form>
    </div>
</div>
</div>
<div id="mask"></div>
<style>

    #mask {
        position:absolute;
        left:0;
        top:0;
        z-index:9000;
        background-color:#000;
        display:none;
    }
    #boxes {
        position: fixed;
        left: 35%;
        top: 30%;
        z-index:9999;
        height: 150%;

    }
    .window{
        background-color: white;
        display:none;
        z-index:10000;
        width: auto;
        overflow: hidden;
    }
    .content_window{
        padding: 30px;
        padding-bottom: 60px;
    }
    .top {
        left:0;
        top:0;
        width:100%;
        height:30px;
        margin-bottom: 30px;
        background: #1E2D3C;
        color: whitesmoke;
        padding: 6px 20px 15px 10px;

    }
    ._close {
        float:right;
    }

</style>
<script>
    $(document).ready(function() {

        $('a[id=login]').click(function(e) {
            e.preventDefault();
            var id = $(this).attr('href');
            var maskHeight = $(window).height();
            var maskWidth = $(window).width();
            $('#mask').css({'width':maskWidth,'height':maskHeight});
            $('#mask').fadeIn(1000);
            $('#mask').fadeTo("slow",0.8);
            var winH = $(window).height()/2;
            var winW = $(window).width();
            $(id).css('top',  winH/2-$(id).height()/2);
            $(id).css('left', winW/2-$(id).width()/2);
            $(id).fadeIn(2000);


        });
        $('.window ._close').click(function (e) {
            e.preventDefault();
            $('#mask, .window').hide();
        });
        $('#mask').click(function () {
            $(this).hide();
            $('.window').hide();


        });
    });
</script>