<div id="user_box" >
    <p><h5>Привет $$full_name$$!</h5></p>
    <a href="$$URI_APP$$/page/private">Личный кабинет</a>
    <a href="$$uri_handler$$/logout">Выход</a>
</div>
<style>
    #user_box{
        display: block;
        background-color: white;
        position: absolute;
        padding: 20px;
        color: #2b669a;
        box-shadow: 0 0 10px rgba(0,1,0,0.1);
        top: 0px;
        z-index: 999;
        right: 1%;
    }
    #user_box a{

    }
</style>
