
<div class="col-lg-3 col-sm-6">
    <div class="accomodation_item text-center">
        <div class="hotel_img">
            <img src="$$URI_APP$$/uploads/$$img$$" alt="" height="270px">
            <a href="$$URI_APP$$/page/catalog_id/$$id$$" class="btn theme_btn button_hover">Подробнее</a>
        </div>
        <a href="#"><h4 class="sec_h4">$$name$$</h4></a>
        <h5>$$cost$$<small>/Сутки</small></h5>
    </div>
    $$control$$
</div>