.catalogbox{
    display:block;
    height:300px;
}
.catalogboxdesc{
    display:block;
    color:white;
    background-color: rgba(0,0,0,0.6);
    height:300px;
    margin: 0px;
    padding: 0px;
}
.catalogboxname{
    font-size: 200%;
}
