<script src="$$uti_component$$/js/upload_module.js"></script>
<div id="drop_file_zone" ondrop="upload_file(event)" ondragover="return false">
    <div id="drag_upload_file">
        <p>Перетащите фаил сюда</p>
        <p>или</p>
        <p><input type="button" value="Выберете" onclick="file_explorer();"></p>
        <input type="file" id="selectfile">
    </div>
</div>
<style>
    #drop_file_zone {
        background-color: #EEE;
        border: #999 5px dashed;
        width: 200px;
        height: 200px;
        padding: 8px;
        font-size: 18px;
    }
    #drag_upload_file {
        width:50%;
        margin:0 auto;
    }
    #drag_upload_file p {
        text-align: center;
    }
    #drag_upload_file #selectfile {
        display: none;
    }
</style>

