<form id="form1" name="form1" method="post" >
    <br>
    Имя: <input type="text" name="body" value="Ссылка"> <br>
    <br>
    Ключ: <input type="text" name="key" value="{key}"> <br>
    <br>
    linkid: <input type="text" name="linkid" value=""> <br>
    <br>
    link: <input type="text" name="link" value="#"> <br>
    <br>
    Шаблон: <select name="pattern"t>
    <option value="link.html">Post</option>
    <option value="reg_button.html">Регистрация</option>
</select>
    <br>
    <input type="submit" value="Отправить" name="send">
</form>