<div id="creator" hidden>
    <form id="form-create-send" method="post" action="$$URI_APP$$/peditor/menu/cr">
        <div style="padding: 15px; color: rgb(0,0,0)">
            <br>
            Имя: <input type="text" name="body" value="Ссылка"> <br>
            <br>
            <input type="text" name="key" value="{id/}" hidden>
            linkid: <input type="text" name="linkid" value=""> <br>
            <br>
            link: <input type="text" name="link" value="#"> <br>
            <br>
            islocal: <input type="checkbox" name="islocal" > <br>
            <br>
            Шаблон: <select name="pattern">
            <option value="link.html">Post</option>
            <option value="reg_button.html">Регистрация</option>
        </select>
            <br>
            <br>
            <input id="crmenusend" type="submit" value="Отправить" name="send">
        </div>
    </form>
</div>
<div id="remover" hidden>
    <p style="padding: 15px; color: rgb(0,0,0)">Вы действительно хотите удалить ссылку?</p>
    <form method="post" action="$$URI_APP$$/peditor/menu/rm?id={id/}" >
        <input id="rm-yes" type="submit" value="Да"/>
        <input id="rm-no" type="button" value="Нет"/>
    </form>
</div>
<div id="editor" hidden>
    <form  method="POST" action="$$URI_APP$$/peditor/menu/ed"  style="padding: 15px; color: rgb(0,0,0)">
        <br>
        <input  type="text" name="id" value="{id/}" hidden>
        Имя: <input  type="text" name="body" value="{body/}"> <br>
        linkid: <input type="text" name="linkid" value="{linkid/}"> <br>
        <br>
        link: <input type="text" name="link" value="{link/}"> <br>
        <br>
        islocal: <input type="checkbox" name="islocal" value="{islocal/}"> <br>
        <br>
        Шаблон: <select  name="pattern" value="{pattern/}">
        <option value="link.html">Post</option>
        <option value="reg_button.html">Регистрация</option>
    </select>
        <br>
        <br>
        <input type="submit" value="Сохранить"/>
    </form>
</div>

<style>
    .editor_menu{
        text-decoration: none;
        margin-left: 5px;
        color: red;

    }

</style>


<script>
    var crdat = GetElemData('#creator');
    var rmdat = GetElemData('#remover');
    var eddat = GetElemData('#editor');

    $('.crlink').click(function() {
        var el = $(this);
        var id = el.attr('menuid');
        var data = [];
        data['id'] = id;
        var window = new pop_up_target(el, fill_pattern(crdat,data));
    });
    $('.rm-button').click(function() {
        var el = $(this);
        var id = el.attr('datid');
        var data = [];
        data['id'] = id;
        var window = new pop_up_target(el, fill_pattern(rmdat,data));
        $('#rm-no').click(function () {
            window.closef();
        });
    });
    $('.ed-button').click(function() {
        var el = $(this);
        var id = el.attr('datid');
        $.ajax({
            type: "GET",
            url: "$$URI_APP$$/editor/menu/get_data?id="+id,
            success: function(data)
            {
                data = JSON.parse(data);
                data['id'] = id;
                var window = new pop_up_target(el, fill_pattern(eddat,data));
            }
        });
    });
</script>