
<form id="form1" name="form1" method="post" >
    <br>
    Имя: <input type="text" name="name" value="BaseName"> <br>
    <br>
    Шаблон: <select name="pattern"t>
    <option value="post.html">Post</option>
</select>
    <br>
    $$upload$$
    <input type="submit" value="Отправить" name="send">
</form>