<link rel="stylesheet" type="text/css" href="$$uri_component$$/css/style.css" />
<script type="text/javascript" src="$$uri_component$$/js/jquery.xfade-1.0.js"></script>
<script type="text/javascript">
    var setOpacity = function(curr, last, el_curr, el_last, elements) {
        if (last !== null) {
            $($('li', '#thumbs')[last]).animate({opacity: .6});
        }
        $($('li', '#thumbs')[curr]).animate({opacity: 1});
    }

    var bindThumbnails = function() {
        $('a', '#thumbs').each(function() {
            $(this).unbind();
            $(this).click(function() {
                var i = $($(this).parents('li').get(0)).attr('id').substring(6);
                $('#photos').xfadeTo($('#photo-' + i));
                return false;
            });
        });
    }

    $(document).ready(function() {
        $('#photos').xfade({height: 430, onBefore: setOpacity});

        bindThumbnails();

        $('#append-item').click(function() {
            var id = $('#thumbs').children().length + 1;
            var thumb = '<li id="thumb-' + id + '"><a href="#t">' + $('.thumb', '#append').html() + '</a></li>';
            $(thumb).appendTo('#thumbs');

            var photos = '<li id="photo-' + id + '"><a href="#p">' + $('.photo', '#append').html() + '</a></li>';
            $(photos).appendTo('#photos');
            $('#photos').xfadeRefresh();

            bindThumbnails();
        });

        $('#remove-item').click(function() {
            $('#thumbs').children().last().remove();
            $('#photos').children().last().remove();
            $('#photos').xfadeRefresh();
        });
    });
</script>

    <div id="demo">
        <ul id="photos">
            $$images$$
        </ul>
        <ul id="thumbs">
           $$tumbler$$
        </ul>
        <div class="clear">&nbsp;
            <!--
        <p><input type="button" id="append-item" value="Append" />
            <input type="button" id="remove-item" value="Remove" /></p> -->
    </div>

<div id="append" style="display: none;">
    <a class="photo" href=""><img src="images/P10103982-940x430.jpg" /></a>
    <a class="thumb" href=""><img src="images/P10103982-76x76.jpg" /></a>
</div>
<style>
    .photo{
        width: 500px;
        height: 400px;
    }
    .tumbler{
        width: 50px;
        height: 40px;
    }
</style>